<!DOCTYPE html>
<html>
<head>
	<title>Team listings</title>
</head>

<h1> Teams </h1>

	<div class="row">
		<% @teams.each do |team|%>
			<div id="content" class="col-md-3">
				<div class="index-style">
					<h2><%=link_to team.team_name, team %></h2>
					<img src="<%= team.logo.medium %>" /><br/>
					<ul>
						<% team.players.each do |player| %>

						<li><%= player.player_name %></li>
						<% end %>
					

					<p>Wins:<%= team.wins %></p>
					<p>Losses:<%= team.losses %></p>
				</div>
			</div>
		<% end %>
	</div>




<body>

</body>
</html>


