<h1> show </h1>

<div class="teamShow">
	<h2> <%= @team.team_name %></h2>
	<!-- <img src="<%= @team.logo.url %>" /><br/> -->
	<!-- <img src="<%= @team.logo.large %>" /><br/> -->
	<img src="<%= @team.logo.medium %>" /><br/>
	<!-- <img src="<%= @team.logo.thumb %>" /><br/> -->
	<!-- <img src="<%= @team.logo.square %>" /><br/> -->

	<ul>
		<% @team.players.each do |player| %>
			<li><%= player.player_name %></li>
		<% end %>
	</ul>

	<p>Wins:<%= @team.wins %></p>
	<p>Losses:<%= @team.losses %></p>

	</div>


	<div class="options">
		<%=link_to 'Destroy', @team, method: :delete %>
		<%=link_to 'Edit', edit_team_path(@team) %>



	</div>
