<h1> show </h1>

<div class="teamshow">
	<h2> <%= @team.team_name %></h2>
	<ul>
		<li><%= @team.player_names %></li>
	</ul>

	<p>Wins:<%= @team.wins %></p>
	<p>Losses:<%= @team.losses %></p>

	</div>


	<div class="options">
		<%=link_to 'Destroy', @team, method: :delete %>
		<%=link_to 'Edit', edit_team_path(@team) %>



	</div>
