<h1> Player index </h1>

    <p><%=link_to "New player", new_player_path %></p>

<% @players.each do |player| %>

	<div class="teamIndex">
		<h2><%= link_to player.player_name, player %></h2>
		<h3><%= player.preferred_role %></h3>
	<% if player.teams.length > 0 %>
		<a>Member of <%= player.teams.first.team_name %></a>
	<% end %>	

		<a>Average GPM:<%= player.average_gpm %></a>
		<a>Average EXP/M:<%= player.average_exp %></a>

	</div>

<% end %>