<h1> Player index </h1>

    <p><%=link_to "New player", new_player_path %></p>

<% @players.each do |player| %>

	<div class="row">
		<div class="col-md-12 player-index">
		<h2><%= link_to player.player_name, player %></h2>
		<h3><%= player.preferred_role %></h3>
	<% if player.teams.length > 0 %>
	<div>
		<a>Member of <%= link_to player.teams.first.team_name %></a>
</div>
	<% end %>	
		<ul>
			<li>Average GPM:<%= player.average_gpm %></li>
			<li>Average EXP/M:<%= player.average_exp %></li>
		</ul>
	</div>

	</div>

<% end %>