<h1> Show player </h1>

<div class="playerShow">

	<h2><%= @player.player_name %></h2>
	<h3><%= @player.preferred_role %></h3>

	<h3><%= @player.most_played_heroes %></h3>
	<% if @player.teams.length > 0 %>
		<a>Member of <%= @player.teams.first.team_name %></a>
	<% end %>	
	<a>Average GPM:<%= @player.average_gpm %></a>
	<a>Average EXP/M:<%= @player.average_exp %></a>

</div>

	<div class="options">
		<%=link_to 'Destroy', @player, method: :delete %>
		<%=link_to 'Edit', edit_player_path(@player) %>



	</div>


