<!DOCTYPE html>
<html>
  <head>
    <title>DotaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <ul class="navbar">
    	<p><%=link_to "Teams", teams_path %></p>
    	<p><%=link_to "New team", new_team_path %></p>
    	<p><%=link_to "Player index", players_path %></p>
    	<%= render 'devise/menu/registration_items' %>
  		<%= render 'devise/menu/login_items' %>
	</ul>
    <%= yield %>
  </body>
</html>
